body {
    font-family: 'Arial', sans-serif;
    background-color: #c1c0be;
}

.card {
    max-width: 500px;
    color: #fff;
    margin: auto;
    background-image: url(/img/logo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.title {
    font-weight: bold;
}

.form-control {
    opacity: .8;
}

.btn {
    opacity: .7;
}